{% extends 'store/base.html' %}

{% load staticfiles %}

{% block title %}Главная{% endblock %}

{% block content %}
<div class="index-content">
    <div class="row">
        <div class="col-xs-12">
            <div class="col-xs-4">
                <img src="{% static 'img/1.jpg' %}" width="300" height="200" alt="Fox">
                <p>{% lorem 50 w random %}</p>
            </div>
            <div class="col-xs-4">
                <img src="{% static 'img/2.jpg' %}" width="300" height="200" alt="Girl">
                <p>{% lorem 40 w random %}</p>
            </div>
            <div class="col-xs-4">
                <img src="{% static 'img/3.jpg' %}" width="300" height="200" alt="Gorilla">
                <p>{% lorem 60 w random %}</p>
            </div>
        </div>
    </div>
</div>
<div class="index-links">
    <div class="row">
        <div class="col-xs-6">
            <a href="{% url 'products-list' %}" class="products">Товары</a>
        </div>
        <div class="col-xs-6">
            <a href="{% url 'contacts' %}" class="contacts">Контакты</a>
        </div>
    </div>
</div>
{% endblock %}