{% extends 'store/base.html' %}

{% load staticfiles %}

{% block title %}{{ product.title }}{% endblock %}

{% block content %}
<a href="{% url 'products-list' %}" class="products">Товары</a>
<div class="product-description">
    <div class="row">
        <div class="col-xs-12">
            <h2 data-id="{{ products.id }}">{{ products.title }}</h2>{% if products.is_new %}<p class="novelty">Новинка!</p>{% endif %}
            <div class="product-images">
                {% for image_url in products.product_image.all %}
                    <img src="{{ image_url }}" width="300" height="200">
                {% endfor %}
            </div>
            <p>{{ products.description }}</p>
            <p>Осталось: <b>{{ products.quantity }}</b> шт</p>
            <p class="price">Цена: <b>{{ products.price }}</b> p</p>
            {% if request.user.is_authenticated %}
                <button id="buy-button">Купить</button>
            {% endif %}
        </div>
    </div>
</div>
<script>
    var buy_product_url = '{% url 'buy-product' %}';
</script>
{% endblock %}
