{% extends 'store/base.html' %}

{% load staticfiles %}

{% block title %}{{ product.title }}{% endblock %}

{% block content %}
<a href="{% url 'products-list' %}" class="products">Товары</a>
<div class="product-description">
    <div class="row">
        <div class="col-xs-12">
            <h2>{{ product.title }}</h2>{% if product.novelty %}<p class="novelty">Новинка!</p>{% endif %}
            <div class="product-images">
                {% for image_url in product.product_image.all %}
                    <img src="{{ image_url }}" width="300" height="200">
                {% endfor %}
            </div>
            <p>{{ product.description }}</p>
            <p>Осталось: <b>{{ product.quantity }} шт</b></p>
            <p>Цена: <b>{{ product.price }} р</b></p>
        </div>
    </div>
</div>
{% endblock %}
