.base-title {
    text-align: center;
    padding: 0px 0 60px 0;
}
.base-footer {
    font-size: 24px;
    text-align: center;
}
.index-content p {
    padding-top: 20px;
}
.base-footer {
    padding-top: 150px;
}
.contacts-content iframe {
    width: 100%;
    height: 460px;
}
.contacts-content .btn {
    background: #59ddff;
    border: 1px;
}
.product-images {
    padding: 10px 0 50px 0;
}
.novelty {
    color: #ff581f;
}
.link-index-page,
.link-reqistration-page {
    padding-top: 30px;
}
.index-content img {
    width: 100%;
}
.link-reqistration-page {
    text-align: right;
}
.contacts {
    text-align: right;
}